/*reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	background-color: #050404;
	/*overflow: hidden;*/
}

body,
a {
	color: #EAEAEA;
}

p {
	color: #ABA29F;
}
mark {
	background-color: #893168;
}

h1,
h2,
h3,
h4,
h5,
header {
	font-family: 'Open Sans', sans-serif;
}

p,
mark {
	font-family: 'Montserrat', sans-serif;
}

/*modal images*/

.modal img {
	min-height: 426px;
	max-height: 426px;
	min-width: 766px;
	max-width: 766px;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.carousel-caption h5 {
	/*color: #893168;*/
}

/*end of modal images*/

/*custom styling for index page*/

#index-landing {
	/*background-color: #050404;*/
	background-image: url(../images/about-messagebg.gif);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
}

#company-name {
	/*width: 50%;*/
	border: solid 4px #893168;
	text-align: center;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 3%;
	transform: translate(-50%, -50%);
	background-color: rgba(0,0,20, 0.3);
	z-index: 3;
}

#company-name hr {
	width: 75%;
	/*text-align: center;*/
	margin: 10px auto;
}

#company-name h1 {
	/*border-bottom: solid 2px red;*/
}

#index-link {
	border: solid 4px #893168;
	text-align: center;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 75%;
	left: 50%;
	padding: 3%;
	transform: translate(-50%, -50%);
	background-color: rgba(0,0,20, 0.3);
	z-index: 3;
}

#index-link a {
	display: block;
	font-size: 25px;
	text-decoration: none;
}

/*end of custom styling for index page*/

/*custom styling for home page*/

/*home-landing styles*/

#home-landing {
	min-height: 100vh;
}

#home-landing-upper {
	height: 50vh;
	background-image: url(../images/bg_.jpg);
	/*background-color: #050404;*/
}

#home-landing-lower {
	height: 50vh;
	background-image: url(../images/landing.jpeg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

#home-landing-slogan{
	background-color: transparent;
	padding: 10%;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	text-align: center;
	border: solid 4px #893168;
}


#home-landing-slogan mark {
	color: white;
}
/*end of home-landing styles*/


/*home-body styles*/

/*home-promotions*/

#home-promo {
	/*background-color: violet;*/
	background-image: url(../images/services-promo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

#home-promo div[id*='col-'] {
	text-align: center;
	padding: 0;
	/*margin: 0 auto;*/
}
	
#home-promo div[id*='card-'] {
	min-height: 400px;
	max-width: 75%;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 5%;
}

#home-promo a {
	text-decoration: none;
}
/*end of promotions*/

/*home-contents*/
#home-content > div[id*='home-content-operations'] p,
#home-content > div[id*='home-content-hr'] p {
	width: 60%;
}

#home-content-operations {
	background-image: url(../images/services-operations.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 5%;
}

.content-container {
	border: solid 2px #893168;
	border-radius: 15px;
	padding: 10px;
	background-color: grey;
}

#home-content-marketing {
	background-image: url(../images/services-marketing.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	padding: 5%;
}

#home-content-marketing h2 {
	text-align: right;
}
#home-content-marketing p {
	width: 100%;
}

#marketing-right-text p {
	width: 100%;
}

#home-content-hr {
	background-image: url(../images/services-hr.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5%;
}


/*end of home-contents*/

/*end of home-body styles*/

/*custom styling for about page*/

#about-landing {
	max-height: 100vh;
}


#carousel-about img{
	min-height: 100vh;
	max-height: 100vh;
	width: 100%;
}

#about-home {
	height: 100vh;
}

#about {
	background-image: url(../images/about-messagebg.gif);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#about-mission {
	position: relative;
	/*background-color: red;*/
	background-image: url(../images/about-carousel-3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#about-vision {
	position: relative;
	background-image: url(../images/about-carousel-3-inv.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#about-mission > .text,
#about-vision > .text{
	/*border: 2px solid red;*/
	/*background-color: white;*/
	/*background-color: rgba(109,114,113,1);*/
	background-color: white; /*6D7271*/
	color: maroon;
	width: 50%;
	text-align: center;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	mix-blend-mode: screen;
	font-size: 4vw;
	font-weight: bold;
}

#mission-container,
#vision-container,
#placeholder-container {
	width: 50%;
	/*margin: auto auto;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#mission-message,
#vision-message,
#placeholder-message {
	text-align: justify;
	font-size: 2.5vw;
	padding: 5%;
	margin-bottom: 0;
	border: 1px solid black;
	box-shadow: 8px 2px indianred; 
}

#mission-message,
#vision-message {
	display: none;
}

#show-mission,
#show-vision {
	display: none;
}

#show-mission:checked ~ #mission-container > #mission-message,
#show-vision:checked ~ #vision-container > #vision-message {
	display: block;
}

#show-mission:checked ~ #placeholder-container > #placeholder-message,
#show-vision:checked ~ #placeholder-container > #placeholder-message {
	display: none;
}

#about-divide {
	height: 75px;
	line-height: 75px;
	font-size: 2.5vw;
	letter-spacing: 40px;
	text-transform: uppercase;
	background-color: #893168;
}

#about-team {
	/*background-color: #4A1942;*/
	position: relative;
	margin: 0;
	padding: 0;
	background-image: url(../images/about-carousel-3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#about-team img {
	min-height: 600px;
	max-height: 600px;
}

@media only screen and (max-width: 400px) {
	#about-divide {
		/*line-height: 40px;*/
	}
}

/*flip card*/

#about-services {
	/*min-height: 100vh;
	max-height: 100vh;*/
	/*min-height: 100vh;*/
	position: relative;
	/*line-height: 100vh;*/
	padding-top: 10%;
	/*max-height: 100vh;*/
	/*background-color: #4A1942;*/
	background-image: url(../images/services-promo.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

@media only screen and (max-width: 480px) {
	#about-services {
		min-height: 200vh;
	}

	#about-divide {
		/*line-height: 30px;*/
		letter-spacing: 30px;
	}
}

@media only screen and (min-width: 481px) and (max-width: 768) {
	#about-services {
		min-height: 300vh;
	}
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	#about-services {
		/*max-height: 20vh;*/
		/*min-height: 100vh;*/
	}
}



#about-services div[id*='about-flip-'] {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0%);
	margin-top: 10px;
	height: 400px;
}

#about-services > div[class*='col-'] {
	height: 500px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  /*border: 1px solid #f1f1f1;*/
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /*border-radius: 30px;*/
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  /*background-color: #bbb;*/
  background-color: #343a40;
  color: white;
}

/* Style the back side */
.flip-card-back {
  background-color: #343a40;
  color: white;
  transform: rotateY(180deg);
}

/*end of flip card*/

/*end of custom styling for about page*/

/*custom styling for contact page*/
#contact-main-container {
	overflow-x: hidden;
}

.jumbotron {
	border-radius: 0;
}

.jumbotron ul {
	list-style-type: disc;
}

.jumbotron ul a {
	text-decoration: none;
}

#contact-main-container mark {
	text-transform: uppercase;
}

#contact-landing {
	min-height: 100vh;
	max-height: 100vh;
	background-image: url(../images/bga.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

#jumbotron-contact {
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}

#contact-inquiries {
	/*min-height: 200vh;*/
}

#inquiries-appointments div[class='card'] img {
	border-radius: 40px;
}

#inquiries-contact,
#inquiries-support,
#inquiries-appointments,
#inquiries-join {
	/*border: 2px solid grey;*/
	background-image: url(../images/form-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}



/*end of custom styling for contact page*/

/*custom styling for gallery page*/

#gallery-main-container {
	min-height: 100vh;
	overflow-x: hidden;
	/*max-height: 100vh;*/
	/*overflow: hidden;*/
}

#gallery-facilities {
	height: 100%;
}

#gallery-main-row {
	background-image: url(../images/form-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#gallery-main-row img {
	min-height: 300px;
	max-height: 300px;
	min-width: 100%;
	max-width: 100%;
	text-align: center;
}
/*end of custom styling for gallery page*/

#disc-page {
	background-color: black;
	overflow-y: hidden;
	/*padding-left: 10px;*/
	/*margin-left: 20px;*/
}

#disc-page ul {
	margin-left: 20px;
}