* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
/*custom style of landing page*/

#landing {
	height: 100vh;
	background-image: url(../images/index/bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

/*#landing > .row > #start2 {
	width: 400px;
	margin: 0 0;
	position: absolute;
	top: 70%;
	color: white;
}

#landing > .row > #start2 > h1 {
	letter-spacing: 15px;
}

#landing > .row > #start {
	margin: 0;
	padding: 0;
	width: 150px;
	top: 80%;
	left: 80%;
	border: 2px solid red;
	height: 70px;
	line-height: 70px;
	text-align: center;
}

#landing > .row > #start > a {
	text-decoration: none;
	color: white;
}
*/

.emp {
	border: 1px solid transparent;
	min-height: 33vh;
	/*display: block;*/
}

.fw {
	min-height: 100px;
	background-color: red;
	opacity: 0;
}

#start2 {
	color: white;
	padding: 15px;
	min-height: 33vh;
}

#start a {
	text-decoration: none;
	color: white;
	text-align: center;
	display: block;
	line-height: 200px;
}

/*-------------------------*/
.per30 {
	height: 30%;
	background-color: black;
}

.per30:after {
	content: "";
	display: block;
	clear: both;
}

/*-------------------------*/

/*#landing > .row a {
	text-decoration: none;
	color: white;
	display: block;
}
*/
.surprise a {
	text-decoration: none;
	/*color: white;*/
	color: transparent;
	display: block;
	letter-spacing: 5px;
	padding: 0;
	font-size: 50px;
	line-height: 150px;
	min-height: 150px;
}

.surprise a:hover {
	color: white;
}

/*custom styling of landing page for different screenviews*/

/*@media only screen and (max-height: 640px){
	#start2 > p {
		margin-bottom: 0;
	}

	.fw {
		min-height: 75px;
	}

	#start {
		clear: both;
	}

	#start > a {
		line-height: 16px;
	}
	#raeppasid {
		display: none;
		background-color: red;
	}
}

@media only screen and (max-height: 731px){
	#start2 > p {
		margin-bottom: 0;
	}

	.fw {
		min-height: 100px;
	}

	#start {
		clear: both;
	}

	#start > a {
		line-height: 16px;
	}
	#raeppasid {
		display: none;
		background-color: red;
	}
}

@media only screen and (max-height: 823px){
	#start2 > p {
		margin-bottom: 0;
	}

	.fw {
		min-height: 120px;
	}

	#start {
		clear: both;
	}

	#start > a {
		line-height: 16px;
	}
	#raeppasid {
		display: none;
		background-color: red;
	}
}

@media only screen and (max-height: 667px){
	#start2 > p {
		margin-bottom: 0;
	}

	.fw {
		min-height: 60px;
	}

	#start {
		clear: both;
	}

	#start > a {
		line-height: 16px;
	}
	#raeppasid {
		display: none;
		background-color: red;
	}
}*/
/*end of landing page styles*/

/*custom styling of home page*/
/*.container*/

#home {
	background-image: url(../images/home/bg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	
}

#slogan {
	min-height: 50vh;
	/*width: 100%;*/
	margin: 0;
	padding: 0;
	color: red;
	/*width: 100%;*/
	background-color: black;
	text-align: center;
	/*line-height: 400px;*/
}

#slogan h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border: solid 7px red;
	padding: 5%;
}

/*edit 11212018 because of conflict with about.html services page*/
/*#services {*/
#servicesss {
	min-height: 50vh;
	/*border: 2px solid red;*/
	/*height: 400px;*/
	color: grey;
	text-align: center;
	/*line-height: 400px;*/
}

/*#services h1 {*/
#servicesss h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border: solid 7px red;
	padding: 5%;
}

/*end of edit 11212018 because of conflict with about.html services page*/

/*
#qwe {
	padding: 20%;
	text-align: center;
	background-color: red;
}
*/

.row {
	min-height: 100vh;
}

#home-slogan {
	background-image: url(../images/home/bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

#slogan-up {
	min-height: 50vh;
	background-color: black;
}

#slogan-up > h1 {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translate(-50%, -50%);
	background-color: red;
	padding: 10%;
	box-shadow: 8px 5px 15px blue;
}

#slogan-down {
	min-height: 50vh;
}

[class*="col"] {
	padding: 0;
}


/*navigation*/
#navbar {
	min-width: 100%;
	/*overflow-x: hidden;*/
}

#aaa {
	padding: 0;
	margin: 0;
	/*removes the white space in the navbar, but removes it's sticky effect*/
	/*overflow-x: hidden;*/
}

/*stars*/
#stars > div[class*="col"]{
	/*border: 1px solid violet;*/
	min-height: 50vh;
}

#stars > div[class*="col"] > #stars-left {
	max-width: 50%;
	min-height: 125%;
	overflow-y: hidden;
	position: absolute;
	left: 25%;
	top: 20%;
	z-index: 2;
	line-height: 30px;
}

#stars > div[class*="col"] > #stars-right {
	max-width: 50%;
	min-height: 125%;
	overflow-y: hidden;
	position: absolute;
	left: 25%;
	top: -55%;
	z-index: 2;
	line-height: 30px;
}

#stars > div[class*="col"] > div[class*="card"] .card-text {
	max-height: 200px;
	color: red;
	overflow-y: hidden;
}

@media only screen and (max-height: 812px) {
	#stars > div[class*="col"] > div[class*="card"] {
		max-height: 100%;
	}
}
/*end of custom styling for home page*/


/*custom styling for about page*/

#about-landing {
	/*border: 1px solid red;*/
	max-height: 91.7vh;
}

#about-landing img {
	min-height: 91.7vh;
	max-height: 91.7vh;
}


#mission-upper {
	max-height: 50vh;
	min-width: 100%;
}

#mission-lower {
	/*border: 1px solid red;*/
	min-height: 50vh;
	max-height: 50vh;
	background-color: violet;
	overflow-y: hidden;
}

#zz1 {
	height: 50vh;
	width: 50%;
	background-color: red;	
}

#zz1 h1 {
	line-height: 50vh;
}

#zz2 {
	height: 50vh;
	width: 50%;
	background-color: blue;
}

#zz2 h1 {
	line-height: 50vh;
}

/*#zxc:hover ~ #cxz {
	background-color: black;
}
*/
#zz1:hover ~ #zz2 {
	background-color: black;
}

#zz2 ~ div[id="zz1"] {
	background-color: black;
}

#mission-message {
	display: none;
}

#vision-message {
	display: none;
}

#company-name,
#mission-message,
#vision-message {
	/*text-align: center;*/
	/*line-height: 50vh;*/
	/*padding: 125px;*/
	/*background-color: red;*/
/*	width: 60%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid grey;*/
	width: 100%;
	text-align: center;
	/*line-height: 40vh;*/
}

#company-name {
	line-height: 40vh;
}

#mission-message,
#vision-message {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 75%;
	transform: translate(-50%, -50%);
	overflow-y: hidden;
	font-size: 20px;
}

#display-holder {
	height: 40vh;
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid grey;
}
@media only screen and (max-width: 400px) {
	#company-name,
	#mission-message,
	#vision-message {
		font-size: 15px;
	}

	#mission-message,
	#vision-message {
		max-height: 30vh;
		line-height: 3vh;
	}
}


/*#mission-upper > */
/*end of custom styling for about page*/

/*custom styling for services section*/

#servicess {
	min-height: 100vh;
}

.buttonhide {
	display: none;
}

/*end of custom styling for services section*/