* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*custom style of landing page*/

#landing {
	height: 100vh;
	background-image: url(../images/index/bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

/*#landing > .row > #start2 {
	width: 400px;
	margin: 0 0;
	position: absolute;
	top: 70%;
	color: white;
}

#landing > .row > #start2 > h1 {
	letter-spacing: 15px;
}

#landing > .row > #start {
	margin: 0;
	padding: 0;
	width: 150px;
	top: 80%;
	left: 80%;
	border: 2px solid red;
	height: 70px;
	line-height: 70px;
	text-align: center;
}

#landing > .row > #start > a {
	text-decoration: none;
	color: white;
}
*/

.fw {
	min-height: 100px;
	background-color: red;
	opacity: 0;
}

#start2 {
	color: white;
	padding: 15px;
}

#start a {
	text-decoration: none;
	color: white;
	text-align: center;
	display: block;
	line-height: 200px;
}

/*-------------------------*/
.per30 {
	height: 30%;
	background-color: black;
}

.per30:after {
	content: "";
	display: block;
	clear: both;
}

/*-------------------------*/


/*custom styling of landing page for different screenviews*/

/*@media only screen and (max-height: 640px){
	#start2 > p {
		margin-bottom: 0;
	}

	.fw {
		min-height: 75px;
	}

	#start {
		clear: both;
	}

	#start > a {
		line-height: 16px;
	}
	#raeppasid {
		display: none;
		background-color: red;
	}
}

@media only screen and (max-height: 731px){
	#start2 > p {
		margin-bottom: 0;
	}

	.fw {
		min-height: 100px;
	}

	#start {
		clear: both;
	}

	#start > a {
		line-height: 16px;
	}
	#raeppasid {
		display: none;
		background-color: red;
	}
}

@media only screen and (max-height: 823px){
	#start2 > p {
		margin-bottom: 0;
	}

	.fw {
		min-height: 120px;
	}

	#start {
		clear: both;
	}

	#start > a {
		line-height: 16px;
	}
	#raeppasid {
		display: none;
		background-color: red;
	}
}

@media only screen and (max-height: 667px){
	#start2 > p {
		margin-bottom: 0;
	}

	.fw {
		min-height: 60px;
	}

	#start {
		clear: both;
	}

	#start > a {
		line-height: 16px;
	}
	#raeppasid {
		display: none;
		background-color: red;
	}
}*/
/*end of landing page styles*/

/*custom styling of home page*/
#home {
	min-height: 100vh;
	background-image: url(../images/home/bg.jpg);
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
	background-size: cover;
}

/*end of custom styling for home page*/